<p style="color: green"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4">
    <%= @tutor.first_name %>
    <%= @tutor.last_name %>
  </h1>
  <p class="lead">
    <%= @tutor.email %> | 
    <%= @tutor.phone %> |
    <%= @tutor.bio %> 
  </p>
  <% sum = 0 %>
  <% length = 0 %>
  <% if !@reviews.blank? %>
  <% @reviews.each do |review| %>
    <% sum+=review.rating %>
    <% length+=1 %>
    <% end %>
  <% res = sum / length %>
  <strong> Average Rating (1-poor, 5-excellent): <%= res %> </strong>
  <% end %>
  <p>  
  <br> </br>
</div>

  <div>
    <%= link_to "Edit this tutor", edit_tutor_path(@tutor), class:"btn btn-secondary" %>
    <%= link_to "Back to tutors", tutors_path, class:"btn btn-dark" %>
    <br>
    <br>
    <%= button_to "Remove tutor", @tutor,  method: :delete, class:"btn btn-danger" %>
  </div>

  <br>
  <hr class="my-4">
  <strong >Tutor Availability Calendar:</strong>
  <div class="container mt-5 text-center">
  <%= month_calendar(events: @meetings) do |date, meetings| %>
    <div class="day">
      <%= date.day %>
      <% meetings.each do |meeting| %>
        <div class="card-header">
            <%= link_to meeting.title, meeting %>
        </div>
    </div>

      <!--
      <div class ="card-body">
        <p class ="card-text">
        </p>
      </div>

      <div class="card-footer">
        <p class="card-text">
          From:
        </p>
        <p class="card-text">
          To:
        </p>
      </div>
      -->

    <% end %>
  <% end %>
      </div>
  </div>

  <%= button_to "Remove tutor", @tutor,  method: :delete, class:"btn btn-danger" %>
  <%= link_to "Write a Review", new_tutor_review_path(@tutor), class:"btn btn-dark" %> 
</div>

<div class = "col-md-7 col-md-offset-1">
<h1 class = "review_title"> </h1>
<% if @reviews.blank? %>
  <h3> No reviews for this tutor just yet. Be the first to add one! </h3> 
<% else %>
  <% @reviews.each do |review| %>
    <div class= "reviews">
        <p> <%= review.rating %> </p>
        <p> <%= review.comment %> </p>
    </div>
    <% end %>
  <% end %>
</div>


<script>
$(document).ready(function() {
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function(){
        return $(this).attr('data-score')
      }
    });
</script> 

